<h1 class="text-center mb-3">Coinbased Cryptocurrency Exchnage System</h1>
<h4><i><b>Cryptocurrency Rates - latest</b></i></h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
        </tr>       
    </thead>
    <tbody>
        {{#each cryptos}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.change}}</td>
        </tr>       
        {{/each}}
    </tbody>
</table>